//colors
$blue : #00377b;
$cyan: #00ffff;
$soft-gray: #a8a8a8;

.blue{
  color: $blue;
}

//fonts
@font-face {
  font-family: museo900;
  src: url(../assets/fonts/MuseoSans_900.otf);
}

@font-face {
    font-family: museo700;
    src: url(../assets/fonts/MuseoSans_700.otf);
}

@font-face {
  font-family: museo300;
  src: url(../assets/fonts/MuseoSans-300.otf);
}

@font-face {
  font-family: museo100;
  src: url(../assets/fonts/MuseoSans-100.otf);
}
