@import '../../styles/index.scss';

.machine-container{
    border: 1px solid black;
    @include center-center();
    height: 80vh;
    .machine{
        background-color: $purple;
        padding: 1rem;
        border: 0.2rem solid black;
        border-radius: 0.5rem;
        @include multi(width, 90%, 90%, 40%, 40%);
        height: auto;
        display: grid;
        grid-template-columns: 100% 60% 40%;
        .title{
            background-color: $creme;
            padding: 1rem 0;
            border-radius: 0.5rem;
            border: 0.5rem $red solid;
            color: $red;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}